<h1>About Us</h1>
<p>Sens.us is an application for patients to easily store their medical histories and data for all of their providers. Their providers are then automatically able to fetch the information once the patient arrives in the practice</p>